body {
    background-color: white;
    font-family: Roboto;
}

.Navbar {
    background-color: #F1F3FF;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 5px silver;
}

img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.Toolbar {
    display: flex;
    min-height: 56px;
    align-items: center;
    padding: 0px 10px;
}

.Logo {
    margin-right: 10px;
}

.AturFoto {
    
    position: fixed;
    width: 374px;
    height: 366px;
    left: 180px;
   
    


}

.Title {
    flex-grow: 1;
}

.Jarak {
    margin-top: 200px;
    margin-bottom: 400px;
}